<div>

    <div id="list">
        <p>Search: <input ng-model="searchText"></p>
        <ion-list class="chatbox">
            <!-- arrays are fully sortable and filterable -->
            <ion-item ui-sref="chatMessage({id: conversation.$id})" ng-repeat="conversation in conversations | orderBy:orderBy | filter:searchText">
                {{ conversation.name }}: {{ conversation.nameCreator }}
            </ion-item>
        </ion-list>
    </div>

    <div>
        <button ng-click="modal.show()" class="ion-ios-plus-outline"></button>
    </div>


</div>