<div>

    <p class="searchChat col">Search: <input ng-model="searchText"></p>
    <div id="list" class="row">
        <div class="col">
            <ion-list class="chatbox">
                <ion-item>Nom conversation: Nom du créateur</ion-item>
                <!-- arrays are fully sortable and filterable -->
                <ion-item class="hoverChat" ui-sref="chatMessage({id: conversation.$id})" ng-repeat="conversation in conversations | orderBy:orderBy | filter:searchText">
                    {{ conversation.name }}: {{ conversation.nameCreator }}
                    <a href="" class="ion-ios-close-outline" ng-click="conversations.$remove(conversation)"></a>
                </ion-item>
            </ion-list>
        </div>
    </div>

    <div>
        <button ng-click="modal.show()" class="button ion-ios-plus-outline"></button>
    </div>


</div>